@charset "UTF-8";
/* **** area mixin ****/
/* **** text attr ****/
/* **** scroll ****/
/* **** form mixin ****/
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "NanumSquareNeo", sans-serif;
  color: var(--krds-gray-90);
  font-weight: 400;
  line-height: 1.5;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  overflow-x: hidden;
}

*:focus {
  outline-offset: -0.4rem;
  outline: 2px solid rgba(41, 167, 56, 0.8);
}

::-moz-selection {
  background: var(--krds-secondary);
  color: var(--krds-white);
}

::selection {
  background: #003675;
  color: var(--krds-white);
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select,
ul,
li,
span,
em,
label,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: inherit;
  position: relative;
}

pre {
  font-family: inherit;
}

input,
textarea,
a,
button,
select,
span,
label,
:before,
:after {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
fieldset {
  border: 0;
}

fieldset {
  min-width: 100%;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

em,
address,
i {
  font-style: normal;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

button,
input[type=submit],
input[type=button] {
  overflow: visible;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: button;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

label {
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=text],
input[type=tel],
input[type=password],
input[type=file],
input[type=number],
input[type=email],
input[type=date],
input[type=search],
textarea {
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

caption {
  position: static !important;
  margin: 0 !important;
}

table {
  table-layout: fixed;
  max-width: none;
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
}

[role=button] {
  cursor: pointer;
}

.img img {
  min-width: 100%;
  max-width: 100%;
}

.img.bg-img {
  background-size: cover;
}

video {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.blind,
hr,
.sr-only,
legend,
caption {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.al {
  text-align: left !important;
}

.ac {
  text-align: center !important;
}

.ar {
  text-align: right !important;
}

@media (max-width: 599px) {
  .pc-only {
    display: none !important;
  }
  .pc-only.read {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .mob-line {
    display: block;
    line-height: inherit;
  }
}
@media (min-width: 600px) {
  .mob-only {
    display: none !important;
  }
  .mob-only.read {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .pc-line {
    display: block;
    line-height: inherit;
  }
}
div {
  display: block;
  unicode-bidi: isolate;
}

/* form area */
.fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--krds-spacer-6);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--krds-spacer-3);
  width: 100%;
}
.form-group .form-tit {
  width: 100%;
}
.form-group .form-conts {
  display: flex;
  flex-direction: column;
  gap: var(--krds-spacer-3);
  width: 100%;
}
.form-group .form-conts.keyword-sch {
  width: 58.8rem;
}
.form-group .form-conts .form-label {
  display: flex;
  font-size: var(--krds-fz-label-sm);
  width: 100%;
}
.form-group .form-conts.btn-ico-wrap {
  position: relative;
}
.form-group .form-conts.btn-ico-wrap .form-control {
  padding-right: var(--krds-spacer-14);
}
.form-group .form-conts.btn-ico-wrap .btn {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
}
.form-group .form-conts.datepicker-conts {
  gap: 0;
}
.form-group .form-conts .form-check .form-check-cnt {
  margin-top: 1.2rem;
}
.form-group .form-conts .form-check .form-check-cnt .form-check-p {
  color: var(--krds-gray-70);
}
.form-group > p {
  width: 100%;
}
.form-group [class^=form-hint] {
  font-size: var(--krds-fz-label-sm);
  color: var(--krds-gray-70);
  padding-left: calc(2rem + var(--krds-spacer-1));
}
.form-group [class^=form-hint]::before {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
  content: "";
  margin-left: calc((2rem + var(--krds-spacer-1)) * -1);
  margin-right: var(--krds-spacer-1);
  vertical-align: top;
  background: url(../../img/component/common/ico_hint_20.svg) no-repeat center;
  background-size: contain;
}
.form-group .is-error ~ .form-hint-invalid {
  color: var(--krds-point);
}
.form-group .is-error ~ .form-hint-invalid::before {
  background-color: transparent;
  background-image: url(../../img/component/common/ico_hint_error.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form-checks-inline {
  display: flex;
  gap: 1.2rem;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.input-group.range {
  align-items: flex-end;
  position: relative;
}
.input-group.range > li:not(.mark) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1 1 0px;
  min-width: 0;
  gap: 1.2rem;
}
.input-group.range > li.mark {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex: none;
  height: var(--krds-input-h-lg);
  text-align: center;
}
.input-group.range > li.mark.md {
  height: var(--krds-input-h-md);
}
.input-group.range > li.mark.sm {
  height: var(--krds-input-h-sm);
}
.input-group.range.set {
  background-color: var(--krds-white);
  border: 1px solid var(--krds-gray-60);
  border-radius: var(--krds-input-rd-lg);
}
.input-group.range.set .form-control {
  background-color: transparent;
  border-color: transparent;
}
.input-group.range.set::after {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../../img/component/common/ico_calendar.svg) no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.row .input-group {
  flex-direction: column;
}
.row .input-group.range > li {
  width: 100%;
}

/* for common */
.radio ~ .form-chip-outline,
.checkbox ~ .form-chip-outline {
  display: inline-flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--krds-gray-40);
}
.radio:focus ~ .form-chip-outline,
.checkbox:focus ~ .form-chip-outline {
  border-color: var(--krds-primary);
}
.radio:checked ~ .form-chip-outline,
.checkbox:checked ~ .form-chip-outline {
  background-color: var(--krds-primary-5);
  border-color: var(--krds-information);
  color: var(--krds-primary-60);
}
.radio:disabled ~ .form-chip-outline,
.checkbox:disabled ~ .form-chip-outline {
  pointer-events: none;
  background-color: var(--krds-gray-30);
  border-color: var(--krds-gray-40);
  color: var(--krds-gray-60);
}

/* 검색 폼 */
.sch-form-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--krds-spacer-4);
}
.sch-form-wrap.vert {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.sch-form-wrap.vert .sch-input {
  width: 100%;
}
.sch-form-wrap .input-group .form-select {
  width: auto;
}
.sch-form-wrap .btn-txt.ico-sch1::before {
  width: 2.4rem;
  height: 2.4rem;
}

.sch-input {
  display: flex;
  position: relative;
}
.sch-input .form-control {
  padding: 0 var(--krds-spacer-12) 0 var(--krds-spacer-4);
}
.sch-input .form-control ~ .ico-sch {
  width: 2.4rem;
  height: 2.4rem;
}
.sch-input .form-control.xlg {
  font-weight: 700;
  padding: 0 var(--krds-spacer-18) 0 var(--krds-spacer-6);
}
.sch-input .form-control.xlg ~ .ico-sch {
  right: var(--krds-spacer-6);
  width: 4rem;
  height: 4rem;
}
.sch-input .ico-sch {
  position: absolute;
  top: 50%;
  right: var(--krds-spacer-4);
  transform: translateY(-50%);
}

@media (max-width: 599px) {
  .form-group .form-conts.keyword-sch {
    width: 100%;
  }
  /* 검색 폼 */
  .sch-form-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .sch-input .form-control.xlg {
    padding: 0 var(--krds-spacer-12) 0 var(--krds-spacer-4);
  }
  .sch-input .form-control.xlg ~ .ico-sch {
    right: var(--krds-spacer-4);
    width: 2.4rem;
    height: 2.4rem;
  }
}
.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  overflow: hidden;
}
.header .header_ct {
  position: relative;
  width: 100%;
  height: 78px;
  border-bottom: 2px solid #f8f8f8;
  background: #fff;
  font-size: 0;
  overflow: hidden;
  z-index: 20;
}
.header .header_ct h1 {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.header .header_ct h1 .blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.header .header_ct #logo {
  display: inline-block;
  margin-left: 31px;
  margin-top: 21px;
  width: 200px;
  height: 38px;
  vertical-align: top;
  background: url(https://www.publicart.or.kr/img/logo.png) 0 0 no-repeat;
  background-size: 100% auto;
}
.header .header_ct .btn_gnb {
  display: flex;
  transform: translateX(0%);
  position: absolute;
  top: 0;
  right: 0;
  width: 78px;
  height: 78px;
  background: #000;
  padding-top: 41px;
  font-family: "nanumSquareBold";
  font-size: 1.6rem;
  line-height: 1.13;
  letter-spacing: -0.3px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.2s;
  border: 0;
  cursor: pointer;
}
.header .header_ct .btn_gnb .bar_box {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  transform: rotate(0deg);
  transition: all 0.2s;
}
.header .header_ct .btn_gnb .bar_box .bar_01 {
  display: flex;
  width: 30px;
  height: 4px;
  position: absolute;
  background: #fff;
  right: 50%;
  margin: auto;
  left: -79px;
  top: calc(50% - 23px);
}
.header .header_ct .btn_gnb .bar_box .bar_02 {
  display: flex;
  width: 30px;
  height: 4px;
  position: absolute;
  background: #fff;
  right: 50%;
  margin: auto;
  left: -79px;
  top: calc(50% - 13px);
}
.header .header_ct .btn_gnb .bar_box .bar_03 {
  display: flex;
  width: 30px;
  height: 4px;
  position: absolute;
  background: #fff;
  right: 50%;
  margin: auto;
  left: -79px;
  top: calc(50% - 3px);
}
.header .header_ct .btn_gnb .blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation {
  display: none;
  position: fixed;
  top: 50%;
  left: 24px;
  z-index: 100;
  padding: 40px 12px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.navigation .nav_prev,
.navigation .nav_next {
  display: flex;
  align-items: center;
  width: 18px;
  height: 18px;
  background-position: -112px 192px;
  background-repeat: no-repeat;
  position: absolute;
}
.navigation .nav_prev::after,
.navigation .nav_next::after {
  content: "\f139";
  display: block;
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
}
.navigation .nav_prev {
  top: 8px;
  right: 14px;
}
.navigation .nav_prev::after {
  content: "\f139";
}
.navigation .nav_next {
  bottom: 8px;
  right: 14px;
}
.navigation .nav_next::after {
  content: "\f13a";
}
.navigation .dot {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.navigation .dot li {
  margin-bottom: 8px;
  /* 도트 사이의 간격 */
}
.navigation .dot li[aria-selected=true] a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  transition: 0.2s;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
.navigation .dot li a {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
}
.navigation .dot li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background: #fff;
  transition: 0.2s;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .navigation {
    display: block;
  }
}

.header .gnb_list_box {
  display: none;
  position: relative;
  background: #f5f5f5;
  transition: all 0.2s;
  overflow: hidden;
  z-index: 10;
}
.header .gnb_list_box .active .gnb_list_box {
  height: auto;
  opacity: 1;
  transform: translateY(0);
}

.spot_link {
  position: absolute;
  bottom: 13px;
  right: 50px;
  width: 136px;
  height: 49px;
  background: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
}
.spot_link:hover {
  background: #e4e4e4; /* 호버 시 스타일 추가 */
}

.gnb_list_box {
  display: none;
}

.wrap {
  height: 100%;
  background: #000;
}

.swiper .swiper-slide.swiper-slide-active .caption_wrap {
  opacity: 1;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}
.swiper .swiper-slide .caption_wrap {
  z-index: 2;
  position: absolute;
  top: 90%;
  left: 50%;
  width: 100%;
  max-width: none;
  opacity: 0;
  transition: all 0.5s;
  color: #fff;
}
.swiper .swiper-slide .caption_wrap .caption {
  position: absolute;
  width: 439px;
  height: 27px;
  left: -63px;
  bottom: 13px;
  font-family: "NanumSquareNeoLight";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 27px;
  text-align: center;
  color: #fff;
}
@media (min-width: 600px) {
  .swiper .swiper-slide .caption_wrap .caption {
    font-size: 1.5rem;
    left: -13px;
  }
}
@media (min-width: 1024px) {
  .swiper .swiper-slide .caption_wrap .caption {
    font-size: 1.5rem;
    left: 20px;
  }
}
.swiper .swiper-slide .bg_img img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}
.swiper .swiper-slide .bg_img img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.container {
  position: relative;
  height: 805.26vw;
  background: #000;
  padding-top: 62px;
}
.container .container.story_start {
  background: #000;
}
.container .container.story_start .record_ani_wrap .record_img_wrap.black {
  display: none;
}
.container .container.story_start .record_ani_wrap .record_img_wrap.upper {
  display: none;
}
.container .container.story_start .record_ani_wrap .record_story .story_img_box .record_img {
  display: block;
}
.container .circle_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (min-width: 600px) {
  .container .circle_bg {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
@media (min-width: 1024px) {
  .container .circle_bg {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
.container .circle_bg01 {
  opacity: 0.5;
  width: 100vw;
  height: 500px;
}
@media (min-width: 600px) {
  .container .circle_bg01 {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 1024px) {
  .container .circle_bg01 {
    width: 800px;
    height: 800px;
  }
}
.container .circle_bg02 {
  display: none;
}
@media (min-width: 1024px) {
  .container .circle_bg02 {
    display: block;
    opacity: 3;
    width: 500px;
    height: 500px;
  }
}

.container_wrap {
  position: relative;
  height: 100vh;
  transition: opacity 1s ease;
  background: #000;
}

.spot_text_wrap {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (min-width: 600px) {
  .spot_text_wrap {
    top: 50%;
  }
}
@media (min-width: 1024px) {
  .spot_text_wrap {
    transform: translate(-50%, -50%);
  }
}
.spot_text_wrap h3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  color: #fff;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
  font-family: "nanumSquareNeoBold";
  font-size: 7vw;
  -webkit-text-stroke: 0.05vw #fff;
  line-height: 15vw;
  font-weight: 800;
}
@media (min-width: 1024px) {
  .spot_text_wrap h3 {
    flex-direction: row;
    justify-content: space-between;
    font-size: 5vw;
  }
}

.record__background {
  position: relative;
  background: #000 0 0/cover;
  background-attachment: fixed;
  z-index: 1;
}
.record__background::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.2;
}

.swiper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: opacity 3s ease;
}

.content {
  position: relative;
  z-index: 10;
  background-color: #000;
}

.section_record .record_img_wrap {
  position: fixed;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc(100vh - 62px);
  z-index: 1;
  pointer-events: none;
}
.section_record .record_img_wrap .record_img_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 80px);
  transform: scale(1.4);
  transform-origin: 50% 50%;
}

.section_record {
  position: relative;
  max-width: 100%;
  height: 100vh;
}
.section_record .record_ani_wrap .record_img_inner {
  position: relative;
  width: 100%;
  height: calc(100vh - 62px);
  transition: transform 0.5s ease;
}
.section_record .record_img_wrap.upper {
  top: 80px;
  left: 0;
  z-index: 4;
  width: 100%;
  height: calc(100vh - 80px);
  min-height: 41.66667vw;
  transform: translate(0, 0);
}
.section_record .record_img_wrap.upper .upper_inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1360px;
  margin: 0 auto;
  padding-bottom: 5.72917vw;
  transform: translateY(-50%);
  text-align: center;
  font-size: 0;
}
.section_record .record_img_wrap.upper .upper_inner .space {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 35.41667vw;
  max-width: 680px;
  height: 35.41667vw;
  max-height: 680px;
}
.section_record .record_img_wrap.upper .upper_inner .space .upper_img {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 35.41667vw;
  max-width: 680px;
  height: 35.41667vw;
  max-height: 680px;
}
.section_record .record_img_wrap.upper .upper_inner .space .upper_img .record.img07 {
  width: 18.54167vw;
  max-width: 356px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 599px) {
  .section_record .record_img_wrap.upper .upper_inner .space .upper_img .record.img07 {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .section_record .record_img_wrap.upper .upper_inner .space .upper_img .record.img07 {
    display: none;
  }
}
.section_record .record_img_wrap.black {
  background-color: #000;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.section_record .record.img01 {
  width: 16.094vw;
  height: 13.854vw;
  left: 31.302vw;
  top: 29.583vw;
}
.section_record .record.img02 {
  width: 23.438vw;
  height: 13.958vw;
  left: 5.365vw;
  top: 5.417vw;
}
.section_record .record.img03 {
  width: 14.219vw;
  height: 14.688vw;
  left: 60.208vw;
  top: 33.177vw;
}
.section_record .record.img04 {
  width: 4.948vw;
  height: 15.469vw;
  left: 62.344vw;
  top: 4.635vw;
}
.section_record .record.img05 {
  width: 16.302vw;
  height: 7.917vw;
  left: 0.241vw;
  top: 41.458vw;
}
.section_record .record.img06 {
  width: 14.063vw;
  height: 20.99vw;
  left: 79.479vw;
  top: 5.417vw;
}
.section_record .record.img07 {
  display: none;
}
@media (min-width: 1024px) {
  .section_record .record.img07 {
    display: block;
    width: 11.354vw;
    height: 22.448vw;
    left: 100%;
    top: 300px;
  }
}
.section_record .record {
  position: absolute;
}
.section_record .record_text_wrap {
  position: sticky;
  top: 28px;
  left: 0;
  width: 100%;
  height: 550px;
  z-index: 2;
  overflow: hidden;
}
.section_record .record_text_wrap .record_text_inner {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 1;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_record .record_text_wrap .record_text_inner .title {
  font-size: 5.20833vw;
  -webkit-text-stroke: 0.05vw #fff;
  line-height: 7.8125vw;
  font-weight: 800;
  letter-spacing: -0.2px;
  font-family: "nanumSquareNeo";
  color: #fff;
  width: 100%;
  height: auto;
  z-index: 2;
  transform: translate(0, -50%);
}
@media (max-width: 599px) {
  .section_record .record_text_wrap .record_text_inner .title {
    font-size: 8.88889vw;
    line-height: 13.88889vw;
    -webkit-text-stroke: 0.05vw #fff;
  }
}

.section_record .record_story.index01 {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 0;
  width: 100%;
}

.section_record .record_story {
  position: relative;
  z-index: 3;
  height: calc(100vh + 50px);
  overflow: hidden;
}
.section_record .record_story .dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.section_record .record_story .video-container {
  width: 100vw;
  height: 100vh;
  top: 9.208vw;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: -1;
}
.section_record .record_story .video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw; /* 너비를 뷰포트 너비에 맞춤 */
  height: 100vh; /* 높이를 뷰포트 높이에 맞춤 */
  transform: translate(-50%, -50%) scale(3.5); /* 중앙 정렬 및 확대 */
  -o-object-fit: cover;
     object-fit: cover; /* 아이프레임 내용이 잘리더라도 꽉 차게 유지 */
  pointer-events: none;
}
.section_record .record_story .video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.section_record .record_story .record_story_inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  font-size: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}
@media (min-width: 600px) {
  .section_record .record_story .record_story_inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.section_record .record_story .record_story_inner .story_img_box {
  position: relative;
  vertical-align: top;
  width: 56.875vw;
  height: 56.875vw;
}
.section_record .record_story .record_story_inner .story_img_box .record_img {
  width: 11.54167vw;
  max-width: 356px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 599px) {
  .section_record .record_story .record_story_inner .story_img_box .record_img {
    width: 18.54167vw;
  }
}
@media (max-width: 599px) {
  .section_record .record_story .record_story_inner .story_img_box {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 600px) {
  .section_record .record_story .record_story_inner .story_img_box {
    position: relative;
    width: 35.41667vw;
    height: 35.41667vw;
    max-width: 680px;
    display: inline-block;
  }
}
.section_record .record_story .record_img_box {
  position: absolute;
  width: 56.875vw;
  height: 56.875vw;
}
.section_record .record_story .record_img_dash {
  width: 50.875vw;
  height: 50.875vw;
  background: transparent;
  outline-offset: -9.208vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section_record .record_story.index01 .record_img_box {
  background: #ff2d55;
  border-radius: 500px;
}
@media (max-width: 599px) {
  .section_record .record_story.index01 .record_img_box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 600px) {
  .section_record .record_story.index01 .record_img_box {
    position: relative;
    width: 35.41667vw;
    height: 35.41667vw;
    max-width: 680px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.section_record .record_story.index02 .record_img_box {
  background: #007aff;
  border-radius: 0vw 24.052vw 24.052vw 0vw;
}
@media (max-width: 599px) {
  .section_record .record_story.index02 .record_img_box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0vw 24.052vw 24.052vw 0vw;
  }
}
@media (min-width: 600px) {
  .section_record .record_story.index02 .record_img_box {
    border-radius: 0vw 24.052vw 24.052vw 0vw;
    position: relative;
    width: 35.41667vw;
    height: 35.41667vw;
    max-width: 680px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.section_record .record_story.index03 .record_img_box {
  background: #af52de;
  border-radius: 0;
}
@media (max-width: 599px) {
  .section_record .record_story.index03 .record_img_box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 600px) {
  .section_record .record_story.index03 .record_img_box {
    position: relative;
    width: 35.41667vw;
    height: 35.41667vw;
    max-width: 680px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.section_record .record_story.index01 .record_img_dash {
  outline: 11px dashed #ff5171; /* 아웃라인 색상과 두께 */
  border-radius: 500px;
}
@media (max-width: 599px) {
  .section_record .record_story.index01 .record_img_dash {
    outline-offset: -2.208vw;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .section_record .record_story.index01 .record_img_dash {
    outline-offset: -10.208vw;
  }
}
.section_record .record_story.index02 .record_img_dash {
  outline: 11px dashed #4ea0f7; /* 아웃라인 색상과 두께 */
  border-radius: 0vw 15.052vw 15.052vw 0vw;
}
@media (max-width: 599px) {
  .section_record .record_story.index02 .record_img_dash {
    outline-offset: -2.208vw;
    border-radius: 0vw 24.052vw 24.052vw 0vw;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .section_record .record_story.index02 .record_img_dash {
    outline-offset: -10.208vw;
    border-radius: 0vw 24.052vw 24.052vw 0vw;
  }
}
@media (min-width: 1024px) {
  .section_record .record_story.index02 .record_img_dash {
    outline-offset: -10.208vw;
    border-radius: 0vw 24.052vw 24.052vw 0vw;
  }
}
.section_record .record_story.index03 .record_img_dash {
  outline: 11px dashed #c680e9; /* 아웃라인 색상과 두께 */
  border-radius: 0;
}
@media (max-width: 599px) {
  .section_record .record_story.index03 .record_img_dash {
    outline-offset: -2.208vw;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .section_record .record_story.index03 .record_img_dash {
    outline-offset: -10.208vw;
  }
}
.section_record .record_story .story_text_box {
  position: relative;
}
@media (min-width: 600px) {
  .section_record .record_story .story_text_box {
    position: relative;
    width: 35.41667vw;
    height: 35.41667vw;
    max-width: 680px;
    max-height: 680px;
    display: inline-block;
    vertical-align: top;
    box-shadow: inset 0 0 0 10px #fff;
  }
}
.section_record .record_story .story_text_box .text_inner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 80%);
  white-space: nowrap;
}
@media (max-width: 599px) {
  .section_record .record_story .story_text_box .text_inner {
    padding-top: 10px;
  }
}
@media (min-width: 600px) {
  .section_record .record_story .story_text_box .text_inner {
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
.section_record .record_story .story_text_box .text,
.section_record .record_story .story_text_box .text1,
.section_record .record_story .story_text_box .text2,
.section_record .record_story .story_text_box .text3 {
  color: #fff;
  font-size: 8.33333vw;
  -webkit-text-stroke: 0.05vw #fff;
  line-height: 12.77778vw;
  font-weight: 800;
  transition: opacity 1s ease-in-out;
}
@media (min-width: 600px) {
  .section_record .record_story .story_text_box .text,
  .section_record .record_story .story_text_box .text1,
  .section_record .record_story .story_text_box .text2,
  .section_record .record_story .story_text_box .text3 {
    font-size: 3.04167vw;
    -webkit-text-stroke: 0.05vw #fff;
    line-height: 4.90625vw;
    font-weight: 900;
  }
}
.section_record .record_story .story_text_box .text.stroke {
  color: transparent;
  -webkit-text-stroke: 0.022vw #fff;
}
@media (min-width: 600px) {
  .section_record .record_story .story_text_box .text.stroke {
    font-size: 3.04167vw;
    line-height: 4.90625vw;
    font-weight: 900;
  }
}
.section_record .record_story .story_title_box {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
}
.section_record .record_story .story_title_box .text {
  display: inline-block;
  vertical-align: top;
  color: transparent;
  -webkit-text-stroke: 0.022vw #fff;
  font-size: 3.125vw;
  line-height: 3.64583vw;
  font-weight: 900;
}
.section_record .record_story .story_title_box .round {
  display: inline-block;
  vertical-align: top;
  width: 2.8125vw;
  height: 2.8125vw;
  margin-top: 0.41667vw;
  border-radius: 50%;
}
.section_record .record_story .story_title_box .sqaure {
  display: inline-block;
  vertical-align: top;
  width: 2.8125vw;
  height: 2.8125vw;
  margin-top: 0.41667vw;
  border-radius: 0 50% 50% 0;
}
.section_record .record_story .story_title_box span + span {
  margin-left: 12px;
}
@media (min-width: 600px) {
  .section_record .record_story.index02 .story_text_box {
    border-radius: 500px;
  }
}
@media (min-width: 600px) {
  .section_record .record_story.index03 .story_text_box {
    border-radius: 0vw 15.052vw 15.052vw 0vw;
  }
}

.section_record .record_story.index01 .round,
.section_record .record_story.index01 .sqaure {
  background: #ff2d55;
}

.record_story.index02 .story_img_box {
  background: #007aff;
  border-radius: 0px 289px 289px 0px;
}/*# sourceMappingURL=style.css.map */