.swiper {
  .swiper-slide {
    &.swiper-slide-active {
      .caption_wrap {
        opacity: 1;
        top: 90%;
        left: 50%;
        transform: translate(-50%);
      }
    }
    .caption_wrap {
      z-index: 2;
      position: absolute;
      top: 90%;
      left: 50%;
      width: 100%;
      max-width: none;
      opacity: 0;
      transition: all 0.5s;
      color: $white;
      .caption {
        position: absolute;
        width: 439px;
        height: 27px;
        left: -63px;
        bottom: 13px;
        font-family: 'NanumSquareNeoLight';
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 27px;
        /* identical to box height */
        text-align: center;
        color: $white;
        @include mobileMore {
          font-size: 1.5rem;
          left: -13px;
        }
        @include tabletMore {
          font-size: 1.5rem;
          left: 20px;
        }
      }
    }

    .bg_img img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
      // position: relative;
    }
  }
}
.container {
  position: relative;
  .circle_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include mobileMore {
      transform: translate(-50%, -50%);
    }
    @include tabletMore {
      transform: translate(-50%, -43%);
    }
  }
  .circle_bg01 {
    opacity: 0.5;
    width: 500px;
    height: 500px;
    @include mobileMore {
      width: 600px;
      height: 600px;
    }
    @include tabletMore {
      width: 800px;
      height: 800px;
    }
  }
  .circle_bg02 {
    opacity: 3;
    width: 250px;
    height: 250px;
    @include tabletMore {
      width: 500px;
      height: 500px;
    }
  }
}
.spot_text_wrap {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  @include mobileMore {
    top: 50%;
  }
  @include tabletMore {
    transform: translate(-50%, -40%);
  }

  h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    color: $white;
    font-family: 'nanumSquareNeoBold';
    font-size: 3.125vw;
    line-height: 4.79167vw;
    font-weight: 800;
    @include mobileMore {
      font-size: 4vw;
      line-height: 4.79167vw;
      font-weight: 900;
    }
  }
}

.record__background {
  // display: block;
  position: relative;
  background: #000 0 0 / cover;
  background-attachment: fixed;
  z-index: 1;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.2;
  }
}

.record_text_wrap {
  position: relative;
  z-index: 1;
  .record_text_inner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    // transform: translate(0%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      // display: block;
      position: fixed;
      font-size: 3em;
      color: #000;
      text-align: center;
      width: 100%;
      height: auto;
      z-index: 2;
      top: -200px; /* 초기 위치 조정 */
      transform: scale(0.8);
      line-height: 1.2;
      font-weight: bold;
    }
  }
}

.record {
  &__img_inner {
    overflow: hidden;
  }
  &__background {
    overflow: hidden;
  }
  &__img01 {
    /* 꿈을 쫓는 야생마 */
    position: absolute;
    top: -100px; /* 화면 위로 100px 밖 */
    left: -100px; /* 화면 왼쪽으로 100px 밖 */
    width: 56px;
    height: 48px;
    z-index: 3;
    opacity: 0.5;
    border-radius: 50%;
    @include mobileMore {
      width: 97px;
      height: 84px;
    }
    @include tabletMore {
      width: 309px;
      height: 266px;
    }
  }
  &__img02 {
    /* 설레임 - 물결치는달빛 */
    position: absolute;
    top: -100px;
    right: -100px;
    width: 72px;
    height: 43px;
    z-index: 3;
    @include mobileMore {
      width: 149px;
      height: 89px;
    }
    @include tabletMore {
      width: 450px;
      height: 268px;
    }
  }
  &__img03 {
    /* 숲과 물 */
    position: absolute;
    width: 65px;
    height: 67px;
    bottom: -100px;
    left: -100px;
    z-index: 3;
    @include mobileMore {
      width: 103px;
      height: 106px;
    }
    @include tabletMore {
      width: 273px;
      height: 282px;
    }
  }
  &__img04 {
    /* 언어-반영 */
    position: absolute;
    width: 29px;
    bottom: -100px;
    right: -100px;
    left: 230px;
    z-index: 3;
    @include mobileMore {
      width: 48px;
      height: 149px;
    }
    @include tabletMore {
      width: 95px;
      height: 297px;
    }
  }
  &__img05 {
    /* MEMO */
    position: absolute;
    width: 81px;
    height: 39px;
    top: 50%;
    left: -100px;
    z-index: 3;
    @include mobileMore {
      width: 141px;
      height: 68px;
    }
    @include tabletMore {
      width: 313px;
      height: 152px;
    }
  }
  &__img06 {
    /* The Fish */
    position: absolute;
    width: 50px;
    height: 74px;
    top: 50%;
    right: -100px;
    z-index: 3;
    @include mobileMore {
      width: 107px;
      height: 160px;
    }
    @include tabletMore {
      width: 270px;
      height: 403px;
    }
  }
  &__img07 {
    /* 신일월대구도 */
    position: absolute;
    width: 81px;
    height: 160px;
    bottom: -100px;
    right: -100px;
    z-index: 3;
    opacity: 0.7;
    @include mobileMore {
      width: 117px;
      height: 232px;
    }
    @include tabletMore {
      width: 218px;
      height: 431px;
    }
  }
  &__img img {
    object-fit: contain;
  }
}
