.wrap {
  // overflow-x: hidden;
  // overflow-y: hidden;
  height: 100%;
  // background-color: #000;
  background: #000;
}

.swiper {
  .swiper-slide {
    &.swiper-slide-active {
      .caption_wrap {
        opacity: 1;
        top: 90%;
        left: 50%;
        transform: translate(-50%);
      }
    }
    .caption_wrap {
      z-index: 2;
      position: absolute;
      top: 90%;
      left: 50%;
      width: 100%;
      max-width: none;
      opacity: 0;
      transition: all 0.5s;
      color: $white;
      .caption {
        position: absolute;
        width: 439px;
        height: 27px;
        left: -63px;
        bottom: 13px;
        font-family: 'NanumSquareNeoLight';
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 27px;
        text-align: center;
        color: $white;
        @include mobileMore {
          font-size: 1.5rem;
          left: -13px;
        }
        @include tabletMore {
          font-size: 1.5rem;
          left: 20px;
        }
      }
    }

    .bg_img img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 55) 80%, rgba(0, 0, 0, 0) 100%);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
      // position: relative;
    }
  }
}

.container {
  position: relative;
  height: 805.26vw;
  // background: #000;
  padding-top: 62px;
  .record_story_video1,
  .record_story_video2,
  .record_story_video3 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
  }
  .record_story .dimmed {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    visibility: hidden;
    transition: visibility 0.1s ease-in-out;
  }
  &.story_start {
    .record_story_video1,
    .record_story_video2,
    .record_story_video3 {
      visibility: visible;
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;
    }

    .record_ani_wrap .record_img_wrap.black {
      display: none;
      opacity: 0;
    }

    .record_ani_wrap .record_img_wrap.upper {
      display: none;
    }
    .record_story .dimmed {
      opacity: 1;
      background: #000;
    }
  }

  .container.story_start {
    background: #000;
    .record_ani_wrap .record_img_wrap.black {
      display: none;
      opacity: 0;
    }
    .record_ani_wrap .record_img_wrap.upper {
      display: none;
    }
    .record_ani_wrap .record_story .story_img_box .record_img {
      display: block;
    }
  }

  .circle_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include mobileMore {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    @include tabletMore {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
  .circle_bg01 {
    opacity: 0.5;
    width: 100vw;
    height: 500px;
    @include mobileMore {
      width: 600px;
      height: 600px;
    }
    @include tabletMore {
      width: 800px;
      height: 800px;
    }
  }
  .circle_bg02 {
    display: none;
    // opacity: 3;
    // width: 250px;
    // height: 250px;
    @include tabletMore {
      display: block;
      opacity: 3;
      width: 500px;
      height: 500px;
    }
  }
}
.container_wrap {
  position: relative;
  height: 100vh;
  transition: opacity 1s ease;
  // margin-bottom: 1200px;
  background: #000;
}
.spot_text_wrap {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  @include mobileMore {
    top: 50%;
  }
  @include tabletMore {
    transform: translate(-50%, -50%);
  }

  h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    color: $white;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    font-family: 'nanumSquareNeoBold';
    // font-size: 5vw;
    font-size: 7vw;
    -webkit-text-stroke: 0.05vw #fff;
    line-height: 15vw;
    font-weight: 800;
    // @include mobileMore {
    //   // font-size: 5vw;
    //   // line-height: 4.79167vw;
    // }
    @include tabletMore {
      flex-direction: row;
      justify-content: space-between;
      font-size: 5vw;
    }
  }
}

.record__background {
  // display: block;
  position: relative;
  background: #000 0 0 / cover;
  background-attachment: fixed;
  z-index: 1;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.2;
  }
}

.swiper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: opacity 3s ease;
}

.content {
  position: relative;
  z-index: 10;
  background-color: #000;
}

.section_record .record_img_wrap {
  position: fixed;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc(100vh - 62px);
  z-index: 1;
  pointer-events: none;
  .record_img_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: -webkit-calc(100vh - 80px);
    height: calc(100vh - 80px);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

.section_record {
  position: relative;
  max-width: 100%;
  height: 100vh;
  .record_ani_wrap {
    .record_img_inner {
      position: relative;
      width: 100%;
      height: calc(100vh - 62px);
      transition: transform 0.5s ease;
    }
  }
  .record_img_wrap.upper {
    top: 80px;
    left: 0;
    z-index: 4;
    width: 100%;
    height: -webkit-calc(100vh - 80px);
    height: calc(100vh - 80px);
    min-height: 41.66667vw;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    .upper_inner {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      max-width: 1360px;
      margin: 0 auto;
      padding-bottom: 5.72917vw;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
      font-size: 0;
      .space {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 35.41667vw;
        max-width: 680px;
        height: 35.41667vw;
        max-height: 680px;
        .upper_img {
          display: inline-block;
          vertical-align: top;
          position: relative;
          width: 35.41667vw;
          max-width: 680px;
          height: 35.41667vw;
          max-height: 680px;
          .record.img07 {
            width: 18.54167vw;
            max-width: 356px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            @include mobile {
              display: none;
            }
            @include tablet {
              display: none;
            }
          }
        }
      }
    }
  }

  .record_img_wrap.black {
    background-color: #000;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .record.img01 {
    width: 16.094vw;
    height: 13.854vw;

    left: 31.302vw;
    top: 29.583vw;
    z-index: 10;
  }
  .record.img02 {
    width: 23.438vw;
    height: 13.958vw;
    left: 5.365vw;
    top: 5.417vw;
  }
  .record.img03 {
    width: 14.219vw;
    height: 14.688vw;
    left: 60.208vw;
    top: 33.177vw;
  }
  .record.img04 {
    width: 4.948vw;
    height: 15.469vw;
    left: 62.344vw;
    top: 4.635vw;
  }
  .record.img05 {
    width: 16.302vw;
    height: 7.917vw;
    left: 0.241vw;
    top: 41.458vw;
  }
  .record.img06 {
    width: 14.063vw;
    height: 20.99vw;
    left: 79.479vw;
    top: 5.417vw;
  }
  .record.img07 {
    display: none;
    @include tabletMore {
      display: block;
      width: 11.354vw;
      height: 22.448vw;
      left: 100%;
      top: 300px;
    }
  }
  .record {
    position: absolute;
  }
  .record_text_wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 28px;
    left: 0;
    width: 100%;
    // height: -webkit-calc(100vh - 80px);
    height: 550px;
    z-index: 2;
    overflow: hidden;
    .record_text_inner {
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 1;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
      // transform: translate(0%, 50%);
      display: flex;
      justify-content: center;
      align-items: center;
      .title {
        // display: block;
        // position: fixed;
        font-size: 5.20833vw;
        -webkit-text-stroke: 0.05vw #fff;
        line-height: 7.8125vw;
        font-weight: 800;
        letter-spacing: -0.2px;
        font-family: 'nanumSquareNeo';
        color: $white;
        width: 100%;
        height: auto;
        z-index: 2;
        transform: translate(0, -50%);

        @include mobile {
          font-size: 8.88889vw;
          line-height: 13.88889vw;
          -webkit-text-stroke: 0.05vw #fff;
        }
      }
    }
  }
}

// .record_space {
//   // position: relative;
//   // width: 100%;
//   // height: 700px;
//   // top: 1000px;
//   // // left: 0;
//   // // right: 0;
//   // // z-index: -4;
//   // max-width: 1360px;
//   // margin: 0 auto;
//   // padding-bottom: 5.72917vw;
//   // font-size: 0;
//   // transform: translateY(-50%);
//   // text-align: center;
// }
.section_record .record_story.index01 {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 0;
  width: 100%;
  // display: flex;
  // flex-wrap: nowrap;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.section_record .record_story {
  position: relative;
  z-index: 3;
  height: calc(100vh + 50px);
  overflow: hidden;

  .record_story_inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0 auto;
    font-size: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    @include mobileMore {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .story_img_box {
      position: relative;
      vertical-align: top;
      width: 56.875vw;
      height: 56.875vw;
      // border-radius: 500px;

      .record_img {
        // position: absolute;
        width: 11.54167vw;
        max-width: 356px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // vertical-align: top;
        // z-index: 1;
        @include mobile {
          width: 18.54167vw;
        }
      }
      @include mobile {
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @include mobileMore {
        position: relative;
        width: 35.41667vw;
        height: 35.41667vw;
        max-width: 680px;
        display: inline-block;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
      }
    }
  }
  .record_img_box {
    position: absolute;
    width: 56.875vw;
    height: 56.875vw;
  }
  .record_img_dash {
    width: 50.875vw;
    height: 50.875vw;
    background: transparent;
    outline-offset: -9.208vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.index01 .record_img_box {
    background: #ff2d55;
    border-radius: 500px;
    @include mobile {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include mobileMore {
      position: relative;
      width: 35.41667vw;
      height: 35.41667vw;
      max-width: 680px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &.index02 .story_img_box {
    @include mobile {
      order: 1;
    }
  }
  &.index02 .record_img_box {
    background: #007aff;
    border-radius: 0vw 24.052vw 24.052vw 0vw;
    @include mobile {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0vw 24.052vw 24.052vw 0vw;
    }
    @include mobileMore {
      border-radius: 0vw 24.052vw 24.052vw 0vw;
      position: relative;
      width: 35.41667vw;
      height: 35.41667vw;
      max-width: 680px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &.index03 .record_img_box {
    background: #af52de;
    border-radius: 0;
    @include mobile {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include mobileMore {
      position: relative;
      width: 35.41667vw;
      height: 35.41667vw;
      max-width: 680px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &.index01 .record_img_dash {
    outline: 11px dashed #ff5171; /* 아웃라인 색상과 두께 */
    border-radius: 500px;

    @include mobile {
      outline-offset: -2.208vw;
    }
    @include tablet {
      outline-offset: -10.208vw;
    }
  }
  &.index02 .record_img_dash {
    outline: 11px dashed #4ea0f7; /* 아웃라인 색상과 두께 */
    border-radius: 0vw 15.052vw 15.052vw 0vw;
    @include mobile {
      outline-offset: -2.208vw;
      border-radius: 0vw 24.052vw 24.052vw 0vw;
    }
    @include tablet {
      outline-offset: -10.208vw;
      border-radius: 0vw 24.052vw 24.052vw 0vw;
    }
    @include tabletMore {
      outline-offset: -10.208vw;
      border-radius: 0vw 24.052vw 24.052vw 0vw;
    }
  }
  &.index03 .record_img_dash {
    outline: 11px dashed #c680e9; /* 아웃라인 색상과 두께 */
    border-radius: 0;
    @include mobile {
      outline-offset: -2.208vw;
    }
    @include tablet {
      outline-offset: -10.208vw;
    }
  }

  .story_text_box {
    position: relative;

    @include mobileMore {
      position: relative;
      width: 35.41667vw;
      height: 35.41667vw;
      max-width: 680px;
      max-height: 680px;
      display: inline-block;
      vertical-align: top;
      -webkit-box-shadow: inset 0 0 0 10px #fff;
      box-shadow: inset 0 0 0 10px #fff;
    }
    .text_inner {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, 80%);
      white-space: nowrap;
      @include mobile {
        padding-top: 10px;
      }
      @include mobileMore {
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
      }
    }
    .text,
    .text1,
    .text2,
    .text3 {
      color: #fff;
      font-size: 8.33333vw;
      -webkit-text-stroke: 0.05vw #fff;
      line-height: 12.77778vw;
      font-weight: 800;
      // opacity: 0;
      transition: opacity 1s ease-in-out;
      @include mobileMore {
        font-size: 3.04167vw;
        -webkit-text-stroke: 0.05vw #fff;
        line-height: 4.90625vw;
        font-weight: 900;
      }
    }
    .text.stroke {
      color: transparent;
      -webkit-text-stroke: 0.022vw #fff;
      @include mobileMore {
        font-size: 3.04167vw;
        line-height: 4.90625vw;
        font-weight: 900;
      }
    }
  }
  .story_title_box {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    white-space: nowrap;

    .text {
      display: inline-block;
      vertical-align: top;
      color: transparent;
      -webkit-text-stroke: 0.022vw #fff;
      font-size: 3.125vw;
      line-height: 3.64583vw;
      font-weight: 900;
    }
    .round {
      display: inline-block;
      vertical-align: top;
      width: 2.8125vw;
      height: 2.8125vw;
      margin-top: 0.41667vw;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    .sqaure {
      display: inline-block;
      vertical-align: top;
      width: 2.8125vw;
      height: 2.8125vw;
      margin-top: 0.41667vw;
      -webkit-border-radius: 0 50% 50% 0;
      border-radius: 0 50% 50% 0;
    }
    span + span {
      margin-left: 12px;
    }
  }
  &.index02 .story_text_box {
    @include mobile {
      order: 2;
    }
    @include mobileMore {
      border-radius: 500px;
    }
  }
  &.index02 .text_inner {
    @include mobile {
      transform: translate(-50%, -50%);
    }
  }
  &.index03 .story_text_box {
    @include mobileMore {
      border-radius: 0vw 15.052vw 15.052vw 0vw;
    }
  }
  &index03 .story_title_box {
    @include mobile {
      order: 3;
    }
  }
}

.section_record .record_story.index01 .round,
.section_record .record_story.index01 .sqaure {
  background: #ff2d55;
}
.section_record .record_story.index02 .round,
.section_record .record_story.index02 .sqaure {
  background: #007aff;
}
.section_record .record_story.index03 .round,
.section_record .record_story.index03 .sqaure {
  background: #af52de;
}

// .record_story.index02 .story_img_box {
//   background: #007aff;
//   border-radius: 0px 289px 289px 0px;
// }

// section 02 id=art 시작 //

.section_art {
  position: relative;
  height: 800vh;
  margin-top: 387vh;
  // 수정 필요할수도 있음 마진 탑
  background: #fff;
  .inner {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    // 수정 필요할수도 있음 마진 탑 800?
    left: 0;
    height: -webkit-calc(100vh - 80px);
    height: calc(100vh - 80px);
    z-index: 2;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    &::before {
      content: '';
      width: 0px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
    // .inner.white {
    //   background: #fff;
    // }
  }
  .activity {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: -webkit-calc(100vw - 57.08vw);
    width: calc(100vw - 57.08vw);
    max-width: 823px;
    height: -webkit-calc(100vw - 57.08vw);
    height: calc(100vw - 57.08vw);
    max-height: 823px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    > .lottie_box {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      width: 10.3125vw;
      max-width: 198px;
      height: 14.16667vw;
      max-height: 272px;
      .lottie_img {
        overflow: hidden;
        -webkit-border-radius: 300px;
        border-radius: 300px;
        width: 10.3125vw;
        max-width: 198px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
      }
    }
    .lottie_box.lottie01 {
      margin-top: -50%;
      margin-left: -50%;
      .lottie_img {
        border: 1px solid #00d640;
      }
      .lottie_text {
        min-width: 6.35417vw;
        right: 11.875vw;
        text-align: right;
      }
    }
    .lottie_box.lottie02 {
      margin-left: 50%;
      transform: translate(-50%, -75%);
      .lottie_img {
        border: 1px solid #2d6ceb;
      }
      .lottie_text {
        min-width: 6.875vw;
        left: 11.875vw;
        text-align: left;
      }
    }
    .lottie_box.lottie03 {
      margin-top: 50%;
      transform: translate(-50%, -60%);
      .lottie_img {
        border: 1px solid #000;
      }
      .lottie_text {
        min-width: 9.375vw;
        left: 11.875vw;
        text-align: left;
      }
    }
    .lottie_box.lottie04 {
      margin-left: 50%;
      .lottie_img {
        border: 1px solid #000;
      }
      .lottie_text {
        min-width: 13.02083vw;
        right: 11.875vw;
        text-align: right;
      }
    }
    .lottie_box.lottie05 {
      margin-left: -50%;
      transform: translate(-50%, -30%);
      .lottie_img {
        border: 1px solid #5e26fd;
      }
      .lottie_text {
        min-width: 7.91667vw;
        left: 11.875vw;
        text-align: left;
      }
    }

    > .lottie_box .lottie_text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      > a {
        display: block;
        pointer-events: all;
      }
      .title {
        color: #000;
        font-size: 1.14583vw;
        line-height: 1.66667vw;
        font-weight: 800;
        letter-spacing: -1%;
      }
      .sub {
        display: block;
        margin-top: 10px;
        color: #666;
        font-size: 0.83333vw;
        line-height: 1.14583vw;
        font-weight: 700;
      }
      i.arrow {
        display: inline-block;
        vertical-align: top;
        margin-left: 2px;
        background-position: -4px -192px;
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
      }
    }
  }
  .circle_activity {
    position: relative;
    z-index: 3;
    display: inline-block;
    width: -webkit-calc(100vw - 57.08vw);
    width: calc(100vw - 57.08vw);
    max-width: 823px;
    height: -webkit-calc(100vw - 57.08vw);
    height: calc(100vw - 57.08vw);
    max-height: 823px;
    vertical-align: middle;
    pointer-events: none;
    .circle {
      transform-origin: 50% 50%;
      img {
        width: 100%;
        vertical-align: top;
        height: 100%;
      }
    }
  }
  .visual_text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
  }

  .visual_text.text01 .text {
    color: #000;
    font-size: 3.54167vw;
    line-height: 5vw;
    font-weight: 900;
    letter-spacing: -0.2px;
  }
  .visual_text.text02 .text {
    color: #000;
    font-size: 2.70833vw;
    line-height: 3.02083vw;
    font-weight: 900;
    letter-spacing: -0.2px;
    + .text {
      margin-top: 20px;
    }
  }
  .visual_text.text02 .after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    .text {
      color: #fff;
      + .text {
        margin-top: 20px;
      }
    }
  }

  .circle_large {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    z-index: 3;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1960px;
      height: 1960px;
      margin: -980px 0 0 -980px;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      img {
        width: 100%;
        vertical-align: top;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
      }
    }
  }
}

.section_art {
  .inner .bg.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: #000;
    z-index: 2;
    pointer-events: none;
  }
  .inner.white {
    background: #fff;
  }
  // &.activity_start {
  //   .inner .bg.black {
  //     display: none;
  //   }
  //   .inner.white {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     z-index: 10;
  //   }
  // }
}
