.wrap {
  // overflow-x: hidden;
  // overflow-y: hidden;
  height: 100%;
  // background-color: #000;
  background: #000;
}

.swiper {
  .swiper-slide {
    &.swiper-slide-active {
      .caption_wrap {
        opacity: 1;
        top: 90%;
        left: 50%;
        transform: translate(-50%);
      }
    }
    .caption_wrap {
      z-index: 2;
      position: absolute;
      top: 90%;
      left: 50%;
      width: 100%;
      max-width: none;
      opacity: 0;
      transition: all 0.5s;
      color: $white;
      .caption {
        position: absolute;
        width: 439px;
        height: 27px;
        left: -63px;
        bottom: 13px;
        font-family: 'NanumSquareNeoLight';
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 27px;
        text-align: center;
        color: $white;
        @include mobileMore {
          font-size: 1.5rem;
          left: -13px;
        }
        @include tabletMore {
          font-size: 1.5rem;
          left: 20px;
        }
      }
    }

    .bg_img img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 55) 80%, rgba(0, 0, 0, 0) 100%);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
      // position: relative;
    }
  }
}
.container {
  position: relative;
  height: 2500px;
  background: #000;
  .circle_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include mobileMore {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    @include tabletMore {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
  .circle_bg01 {
    opacity: 0.5;
    width: 100vw;
    height: 500px;
    @include mobileMore {
      width: 600px;
      height: 600px;
    }
    @include tabletMore {
      width: 800px;
      height: 800px;
    }
  }
  .circle_bg02 {
    display: none;
    // opacity: 3;
    // width: 250px;
    // height: 250px;
    @include tabletMore {
      display: block;
      opacity: 3;
      width: 500px;
      height: 500px;
    }
  }
}
.container_wrap {
  position: relative;
  height: 100vh;
  transition: opacity 1s ease;
  // margin-bottom: 1200px;
  background: #000;
}
.spot_text_wrap {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  @include mobileMore {
    top: 50%;
  }
  @include tabletMore {
    transform: translate(-50%, -50%);
  }

  h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    color: $white;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    font-family: 'nanumSquareNeoBold';
    // font-size: 5vw;
    font-size: 7vw;
    line-height: 15vw;
    font-weight: 800;
    @include mobileMore {
      // font-size: 5vw;
      // line-height: 4.79167vw;
    }
    @include tabletMore {
      flex-direction: row;
      justify-content: space-between;
      font-size: 5vw;
    }
  }
}

.record__background {
  // display: block;
  position: relative;
  background: #000 0 0 / cover;
  background-attachment: fixed;
  z-index: 1;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.2;
  }
}

.record_text_wrap {
  position: relative;
  z-index: 4;
  .record_text_inner {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 1;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    // transform: translate(0%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      // display: block;
      position: fixed;
      font-size: 8.88889vw;
      color: $white;
      text-align: center;
      width: 100%;
      height: auto;
      z-index: 2;
      bottom: 300px;
      left: 0;
      transform: translate(0, -50%);
      // transform: scale(0);
      line-height: 13.88889vw;
      letter-spacing: -0.2px;
      font-family: 'nanumSquareNeo';
      font-weight: 800;
      // transition: transform 0.5s ease, top 0.5s ease, opacity 0.5s ease; // 전환 설정
      @include mobileMore {
        bottom: 150px;
      }
      @include tabletMore {
        bottom: 100px;
      }
      .text01,
      .text02,
      .text03 {
        opacity: 0; // 처음에는 안 보이게
        transition: opacity 1s; // 서서히 나타나게
      }
    }
  }
}

.swiper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: opacity 3s ease;
}

.content {
  position: relative;

  z-index: 10;
  background-color: #000;
}

.section_record .record_img_wrap {
  position: fixed;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc(100vh - 62px);
  z-index: 10;
  pointer-events: none;
}

.section_record {
  position: relative;
  max-width: 100%;
  height: 100vh;
  .record_ani_wrap {
    .record_img_inner {
      position: relative;
      width: 100%;
      height: calc(100vh - 62px);
      transition: transform 0.5s ease;
    }
  }
  .record_img_wrap.black {
    background-color: #000;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .record.img01 {
    width: 16.094vw;
    height: 13.854vw;

    left: 31.302vw;
    top: 29.583vw;
  }
  .record.img02 {
    width: 23.438vw;
    height: 13.958vw;
    left: 5.365vw;
    top: 5.417vw;
  }
  .record.img03 {
    width: 14.219vw;
    height: 14.688vw;
    left: 60.208vw;
    top: 33.177vw;
  }
  .record.img04 {
    width: 4.948vw;
    height: 15.469vw;
    left: 62.344vw;
    top: 4.635vw;
  }
  .record.img05 {
    width: 16.302vw;
    height: 7.917vw;
    left: 0.241vw;
    top: 41.458vw;
  }
  .record.img06 {
    width: 14.063vw;
    height: 20.99vw;
    left: 79.479vw;
    top: 5.417vw;
  }
  .record {
    position: absolute;
  }
}

.daegu_space {
  position: relative;
  width: 100%;
  height: 700px;
  top: 431px;
  // left: 0;
  // right: 0;
  // z-index: -4;
  max-width: 1360px;
  margin: 0 auto;
  padding-bottom: 5.72917vw;
  font-size: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  .daegu_story.index01 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .story_img_box {
      position: absolute;

      width: 56.875vw;
      height: 56.875vw;
      border-radius: 500px;
      background: #ff2d55;
      @include mobile {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @include mobileMore {
        position: relative;
        width: 35.41667vw;
        height: 35.41667vw;
        max-width: 680px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .daegu_story {
    position: relative;
    z-index: 3;
    height: calc(100vh + 50px);
    overflow: hidden;
    .daegu_story_inner {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      z-index: 2;
      margin: 0 auto;
      font-size: 0;
      transform: translateY(-50%);
      text-align: center;
      @include mobileMore {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .img_inner {
        position: relative;
        width: 56.875vw;
        height: 56.875vw;
        border-radius: 500px;
        @include mobile {
          left: 50%;
          transform: translate(-50%, -50%);
        }
        @include mobileMore {
          position: relative;
          width: 35.41667vw;
          height: 35.41667vw;
          max-width: 680px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
        .story_img_dash {
          width: 50.875vw;
          height: 50.875vw;
          background: transparent;
          outline: 11px dashed #ff5171; /* 아웃라인 색상과 두께 */
          outline-offset: -9.208vw;
          border-radius: 500px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include mobile {
            outline-offset: -2.208vw;
          }
          @include tablet {
            outline-offset: -10.208vw;
          }
        }
      }

      .story_text_box {
        position: relative;
        display: block;
        // margin-top: 4.02878vh;
        @include mobileMore {
          position: relative;
          width: 35.41667vw;
          height: 35.41667vw;
          max-width: 680px;
          max-height: 680px;
          // display: inline-block;
          vertical-align: top;
          -webkit-box-shadow: inset 0 0 0 10px #fff;
          box-shadow: inset 0 0 0 10px #fff;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
        .text_inner {
          display: flex;
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, 80%);
          white-space: nowrap;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          @include mobile {
            padding-top: 10px;
          }

          @include mobileMore {
            top: 50%;
            left: 0;
            right: 0;
            // text-align: center;
            transform: translateY(-50%);
          }
        }
        .text {
          color: #fff;
          font-size: 8.33333vw;
          line-height: 12.77778vw;
          font-weight: 800;
          @include mobileMore {
            font-size: 3.54167vw;
            line-height: 4.90625vw;
            font-weight: 900;
          }
        }
        .text.stroke {
          color: transparent;
          -webkit-text-stroke: 0.032vw #fff;
          @include mobileMore {
            font-size: 3.54167vw;
            line-height: 4.90625vw;
            font-weight: 900;
          }
        }
      }
    }
  }

  .video-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 30.208vw;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: -1;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }
  }

  .video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 221vw;
    height: 100vh;
    transform: translate(-50%, -50%) scale(1.5);
    pointer-events: none;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 55) 80%,

      rgba(0, 0, 0, 1) 100%
    );
  }
}
